.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item:hover {
  transorm: scale(1.02);
}

.item h3 {
  margin: 0;
  font-size: 1.2rem;
  color: #333;
}

.item p {
  font-size: 0.9rem;
  color: #555;
}
